<div id="<%= dom_id organizador %>">
  <p>
    <strong>Nome:</strong>
    <%= organizador.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= organizador.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= organizador.telefone %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= organizador.cidade_id %>
  </p>

</div>
